
@{
    ViewBag.Title = "Error";
}

    

    <div class="row justify-content-center" style="margin-top:50px;margin-bottom:250px">
        <div class="col info-box rounded col-lg-10 col-xl-8 bg-light p-4 m-3 ">
            <div class="row ">
                <div class="col-12 col-sm-2 d-flex justify-content-center align-items-center mb-2 mb-sm-0 display-3 text-primary">
                    <i class="fa fa-info-circle"><!-- / --></i>
                </div>
                <div class="col-12 col-sm-10 pl-sm-0 mb-2">
                    <p>
                        Sepetinizde başka bir restorandan ürün(ler) bulunmaktadır. 
                        Sepetinize bu restoranın ürününü eklemek için sepetinizi boşaltmak ister misiniz?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-right"><a class="btn btn-outline-danger" href="/Cart/ClearCart">Evet , sepeti temizle.</a></div>
                <div class="col text-left"><a class="btn btn-outline-success" href="/Cart/Index">Vazgeç , Sepete geri dön.</a></div>
            </div>
        </div>
    </div>