@model eCommerce.Entities.Model.Cart
<button style="border-color:transparent;border-radius:30px;padding-top:0px;margin-left:5px" >

    <a href="/Cart/Index" style="color:#c4151c"><i class="fa fa-shopping-cart"></i></a>
    <span class="badge badge-danger">@Model.CartLines.Count()</span>

</button>

